* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  -webkit-tap-highlight-color: transparent;
}

button, a {
  user-select: none;
}

html {
  font-size: 16px;
}

body {
  font-family: sans-serif;
  line-height: 1.5;
  background-color: #636363;
  color: white;
}
